* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: blue;
}
body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
  font-family: "Shrikhand";
  font-style: normal;
  line-height: normal;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

h3 {
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  font-weight: 300;
}

p {
  font-style: normal;
  line-height: normal;
  font-size: 17px;
  font-weight: 300;
}

/**********************  HEADER  ***************************/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title p {
  font-family: "Shrikhand", sans-serif;
}

.location {
  background-color: #EAEAEA;
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #353535;
}
.location p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************  INTRO  ***************************/
.section-intro {
  background-color: #f6f6f6;
  padding: 20px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.section-intro h4 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.section-intro h2 {
  margin: 0px;
}
.section-intro p {
  margin-top: 0px;
}

.explore-button {
  border-radius: 25px;
  color: #fff;
  border: none;
  padding: 1em 2em;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  font-size: 16px;
  font-weight: 500px;
}
.explore-button:hover {
  background: linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
}

/**********************  Fonctionnement  ***************************/
.section-fonctionnement {
  padding: 60px 20px 60px 20px;
}
.section-fonctionnement h2 {
  margin-top: 0px;
}

.fonctionnement-article-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin: 10px;
}

.fonctionnement-article {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
  gap: 3%;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement-article--n1::before {
  content: "1";
  align-items: center;
  display: flex;
  height: 10px;
  width: 10px;
  position: relative;
  right: 13px;
  justify-content: center;
  color: #fff;
  padding: 0.5em;
  border-radius: 25px;
  background-color: #9356DC;
}
.fonctionnement-article--n2::before {
  content: "2";
  align-items: center;
  display: flex;
  height: 10px;
  width: 10px;
  position: relative;
  right: 13px;
  justify-content: center;
  color: #fff;
  padding: 0.5em;
  border-radius: 25px;
  background-color: #9356DC;
}
.fonctionnement-article--n3::before {
  content: "3";
  align-items: center;
  display: flex;
  height: 10px;
  width: 10px;
  position: relative;
  right: 13px;
  justify-content: center;
  color: #fff;
  padding: 0.5em;
  border-radius: 25px;
  background-color: #9356DC;
}

/**********************  Restaurents  ***************************/
.section-rest {
  padding: 15px;
  background-color: #f6f6f6;
}
.section-rest-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.section-rest-title {
  padding: 20px 0px 20px 0px;
}

.rest-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 251px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.rest-card img {
  display: flex;
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.rest-card-content {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 25px 0px 20px;
  align-items: center;
}
.rest-card-content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.rest-card-content-text h3, .rest-card-content-text p {
  margin: 0px;
}
.rest-card-heart {
  position: relative;
  right: 20px;
}
.rest-card i {
  position: absolute;
}

.heart-activate {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.rest-card-heart:hover .heart-activate {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

/**********************  Footer  ***************************/
.footer {
  width: 100%;
  height: 375px;
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #353535;
  color: #fff;
}
.footer-title h1 {
  margin: 0px;
}
.footer-content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}