@import 'mixins.scss';
@import 'variables.scss';
@import 'generic.scss';


/**********************  LOADER  ***************************/


.loader {
    position: fixed;
    display: grid;
    place-items: center;
    background: $heart-gradient;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 0.3s 2s forwards;
    &-text-content {
        font-family: 'Shrikhand', sans-serif;
        font-size: 50px;
        color: $white-txt;
        }
  }




/**********************  HEADER  ***************************/

.header{
    @include flex-col();
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-family: 'Shrikhand', sans-serif;
    }
    a {
        display: contents;
        color: $primary-font-color;
    }
}

.location {
    background-color: $dark-grey-background;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: $grey-txt;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/**********************  INTRO  ***************************/

.section-intro {
    background-color: $grey-background;
    padding: 20px;
    height: 380px;
    @include flex-col();
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
        h4 {
            margin-top: 0px;
            margin-bottom: 50px;
        }
        h2 {
            margin: 0px;
        }
        p {
            margin-top: 0px;
        }
        a {
            display: contents;
        }
}

.explore-button {
    border-radius: 25px;
    color: $white-txt;
    border: none;
    padding: 1em 2em;
    background: $button-gradient;
    box-shadow: $explore-btn-shadow;
    transition: 0.5s;
    font-size: 16px;
    &:hover {
        background: $button-gradient-hover;
        box-shadow: $explore-btn-shadow-hover;
        cursor: pointer;
        transform: scale(1.05);
    }
}



/**********************  Fonctionnement  ***************************/

.section-fonctionnement {
    padding: 60px 20px 60px 20px;
    h2 {
        margin-top: 0px;
    }
}

.fonctionnement-article-section {
    @include flex-col();
    gap: 30px;
    justify-content: center;
    margin: 10px;
}

.fonctionnement-article {
    height: 75px;
    @include flex-row();
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    gap: 3%;
    border-radius: 20px;
    background: $grey-background;
    box-shadow: $article-shadow;
    &--n1::before {
        content: '1';
        @include fonctionnement-number;
    }
    &--n2::before {
        content: '2';
        @include fonctionnement-number;
    }
    &--n3::before {
        content: '3';
        @include fonctionnement-number;
    }
}




/**********************  Restaurents  ***************************/

.section-rest {
    padding: 15px 15px 70px 15px;
    background-color: $grey-background;
    &-cards {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    &-title {
        padding: 20px 0px 20px 0px;
    }
}

.rest-card {
    background-color: $card-background;
    @include flex-col();
    align-self: center ;
    height: 251px;
    width: 100%;
    max-width: 490px;
    border-radius: 25px;
    overflow: hidden;
    a {
        display: contents;
        color: $primary-font-color;
        text-decoration: none;
    }
    img {
        display: flex;
        height: 70%;
        width: 100%;
        object-fit: cover;
    }
    &-new-btn {
        display: flex;
        position: relative;
        top: 20px;
        right: 20px;
        flex-direction: row-reverse;
        &::before {
            content: 'Nouveau';
            color: $new-font;
            background: $new-background;
            border: 8px solid $new-background;
            border-radius: 5px;
            position: absolute;
            box-shadow: $new-btn-shadow;
        }
    }
    &-content {
        height: 30%;
        @include flex-row();
        justify-content: space-between;
        padding: 0px 25px 0px 20px;
        align-items: center;
        &-text {
            @include flex-col();
            justify-content: space-between;
            gap: 5px;

            & h3, p {
                margin: 0px;
            }
        }
    }
    .heart {
        position: relative;
        right: 20px;

    }
    i {
        position: absolute;
        cursor: pointer;
    }
    .heart-check {
        display: none
    }
}

@include heart-animation;
@include heart-background;



/**********************  Footer  ***************************/

.footer {
    @include flex-col();
    justify-content: center;
    gap: 18px;
    padding: 25px;
    background-color: $footer-bg;
    color: $white-txt;
    &-title h1 {
        margin: 0px;
        text-align: start;
        font-size: 18px;
        font-weight: 500;

    }
    &-content {
        @include flex-col();
        gap: 10px;
        & span {
            display: flex;
            gap: 10px;
        }
        a {
            color: $white-txt;
            text-decoration: none;
            :hover {
                text-decoration:underline ;
            }
        }

    }
}







/**********************  Media Queries ***************************/

@media screen and (min-width:700px) {

    .section-fonctionnement {
        display: flex;
        justify-content: center;
        align-items: center;
        &-conteneur {
            width: 1080px;
        }
    }
    .fonctionnement-article-section {
        flex-direction: row;
        .fonctionnement-article {
            width: 100%;
        }
    }


    .section-rest {
        display: flex;
        justify-content: center;
        align-items: center;
        &-conteneur {
            max-width: 1080px;
        }
    }


    .section-rest-cards {
        @include flex-row;
        max-width: 1440px;
        justify-content: center;
        row-gap: 50px;
        column-gap: 100px;
        place-items: center;
        flex-wrap: wrap;
    }
}





@media screen and (min-width:1100px) {


    .footer {
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        gap: 100px;
        .footer-content {
            flex-direction: row;
            gap: 25px;
        }
    }
}





