@import 'index.scss';
@import 'mixins.scss';
@import 'variables.scss';

.intro-img {
    display: flex;
    height: 275px;
    width: 100%;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.section-menu {
    width: 100%;
    height: 1200px;
    @include flex-col();
    align-items: center;
    &-conteneur {
        max-width: 1055px;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        position: relative;
        top: -50px;
        background-color: $grey-background;
    }
    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
        span {
            font-family: 'Shrikhand', sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .heart {
            position: relative;
            right: 30px;
            i {
                position: absolute;
            }
            .heart-check {
                display: none
            }
        @include heart-animation;
        }
    }

    .section-choose {
        height: 100%;
        margin: 15px;
        .choose-title{
            &-txt {
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: uppercase;
            }
            &-decoration::before {
                content: '';
                background-color: green;
                display: block;
                height: 3px;
                width: 40px;
                margin-top: 5px;
            }
        }
        .choose {
            height: 72px;
            width: 100%;
            background-color: white;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            &-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-left: 15px;
                height: 100%;
                width: 100%;
                .choose-txt {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .food {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    .food-content {
                        font-size: 15.043px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }
                }
                .choose-price {
                    margin-right: 20px;
                }
            }
        }

    }

    .section-entree {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

}