


$grey-background: #f6f6f6;
$dark-grey-background: #EAEAEA;
$primary: #9356DC;
$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$button-gradient-hover: linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
$card-background: white;
$footer-bg: #353535;
$white-txt: #fff;